fastapi
uvicorn
python-multipart

sentence-transformers
faiss-cpu
numpy

langchain
langchain-community
langchain-text-splitters

pypdf
python-docx
docx2txt
pandas
openpyxl

groq
python-dotenv

rank-bm25

streamlit
bcrypt